/* Responsive visibility for header images */
.project-images.mobile-header-image {
	display: none;
}
.project-images.non-mobile {
	display: flex;
}

@media (max-width: 600px) {
	.project-images.non-mobile {
		display: none;
	}
    .project-images.mobile-header-image {
		display: block;
	}
}
/* Overview and People Block */
.overview-and-people {
	display: flex;
	gap: 2em;
}
.overview-and-people > .overview {
	flex: 7 1 0;
	min-width: 0;
}
.overview-and-people > .people {
	flex: 3 1 0;
	min-width: 0;
}

@media (max-width: 700px) {
	.overview-and-people {
		flex-direction: column;
		gap: 0;
	}
}
/* Project Page Building Blocks */

.project-block {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.project-block.center-text {
    max-width: 800px;
}

@media (max-width: 600px) {
	.project-block {
		margin: 5px auto;
		border-radius: 0;
		box-shadow: none;
	}
}

.project-images {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: space-between;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.project-block.large-image{
    max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

/* Project Images Figure Styling */
.project-images figure {
	flex: 1 1 300px;
	max-width: calc(100% / var(--img-count, 2) - 0.5em);
	height: auto;
    margin: 0;
	object-fit: cover;
    overflow: hidden;
}
.project-images img {
	width: 100%;
	height: auto;
    border-radius: 6px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.07);
}

.project-images.no-shadow img{
	box-shadow: none;
}
.project-images figcaption {
	margin-top: 0.5em;
	font-size: 0.95em;
	color: #555;
	text-align: center;
	line-height: 1.3;
}

@media (max-width: 600px) {
	.project-images {
		gap: 0.5em;
	}
	.project-images figure {
		max-width: 100%;
		flex-basis: 100%;
	}
}
