main {
  position: relative;
}
.googly-eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.pupil {
  transition: cx 0.1s, cy 0.1s;
}
/* Minimal CSS for fast loading */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  color: #222;
  perspective: 800px; /* Perspective effect */
}


.noscroll{
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  touch-action: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

header {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
}

.cube:hover {
  cursor: grab;
}

.cube.grabbing {
  cursor: grabbing;
}

.cube:active {
  cursor: grabbing;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  box-sizing: border-box;

  font-size: 80px;
  font-weight: 900;
  color: white;
  line-height: 0.8;
  padding-top: 0%;
  overflow: hidden;
}

/* Position each face of the cube */
.front {
  transform: translateZ(100px);
  background: #00b7ffb0;
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background: #00b7ffb0;
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  background: #e51effb0;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background: #e51effb0;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background: #fff566b0;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: #fff566b0;
}
