.trading-card-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  padding: 0px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  touch-action: none;
}

.trading-card-modal-content {
  background: #fff;
  border-radius: 16px;
  width: 90vw;
  height: calc(100dvh - 200px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  position: relative;
}

.trading-card-grid-container {
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.trading-card-modal-close {
  position: absolute;
  top: 1rem;
  float: right;
  right: 1rem;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  color: black;
  text-align: end;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  z-index: 10;
}
.trading-card-modal-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.trading-card-modal-card {
  background: #ababab;
  --s: 50px; /* control the size*/
  --c1: #737373;
  --c2: #636363;
  
  --_g: var(--c1) 90deg,#0000 90.5deg;
  background:
   conic-gradient(from -45deg,var(--_g)),
   conic-gradient(from 135deg,var(--_g)) calc(var(--s)/2) 0,
   var(--c2);
  background-size: var(--s) var(--s);
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 5/7;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s cubic-bezier(.25,.8,.25,1), box-shadow 0.25s cubic-bezier(.25,.8,.25,1);
}

.card-not-found-text{
  font-size: 5rem;
  font-weight: 800;
  color: white;
  text-align: center;
  line-height: 7;
}

.trading-card-modal-card img{
    width: 100%;
}

.trading-card-modal-empty {
  text-align: center;
  opacity: 0.7;
}

body.modal-open {
  overflow: hidden;
  touch-action: none;
}

.trading-card-modal-top-image{
    width: 200px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .trading-card-modal-content {
    max-width: calc(100vw - 10px);
    height: calc(100dvh - 135px);
  }
    
  .trading-card-modal-top-image{
    max-width: 50%;
  }

  .trading-card-modal-grid {
    gap: 0.5rem;
    margin: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
